<div id="<%= dom_id calendar_block %>">
  <div>
    <strong>User:</strong>
    <%= calendar_block.user_id %>
  </div>

  <div>
    <strong>Calendar:</strong>
    <%= calendar_block.calendar_id %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= calendar_block.category_id %>
  </div>

  <div>
    <strong>Block schedule:</strong>
    <%= calendar_block.block_schedule_id %>
  </div>

  <div>
    <strong>Capability:</strong>
    <%= calendar_block.capability %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= calendar_block.date %>
  </div>

  <div>
    <strong>Start time:</strong>
    <%= calendar_block.start_time %>
  </div>

  <div>
    <strong>End time:</strong>
    <%= calendar_block.end_time %>
  </div>

  <div>
    <strong>Block type:</strong>
    <%= calendar_block.block_type %>
  </div>

  <div>
    <strong>External uid:</strong>
    <%= calendar_block.external_uid %>
  </div>

</div>
