<div id="<%= dom_id commitment %>">
  <div>
    <strong>User:</strong>
    <%= commitment.user_id %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= commitment.category_id %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= commitment.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= commitment.description %>
  </div>

  <div>
    <strong>Context:</strong>
    <%= commitment.context %>
  </div>

  <div>
    <strong>Capability:</strong>
    <%= commitment.capability %>
  </div>

  <div>
    <strong>Estimate minutes:</strong>
    <%= commitment.estimate_minutes %>
  </div>

  <div>
    <strong>Due at:</strong>
    <%= commitment.due_at %>
  </div>

  <div>
    <strong>Available after:</strong>
    <%= commitment.available_after %>
  </div>

  <div>
    <strong>State:</strong>
    <%= commitment.state %>
  </div>

</div>
