<div id="<%= dom_id category %>">
  <div>
    <strong>User:</strong>
    <%= category.user_id %>
  </div>

  <div>
    <strong>Parent:</strong>
    <%= category.parent_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= category.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= category.description %>
  </div>

  <div>
    <strong>Priority:</strong>
    <%= category.priority %>
  </div>

  <div>
    <strong>Weekly allocation minutes:</strong>
    <%= category.weekly_allocation_minutes %>
  </div>

  <div>
    <strong>Depth:</strong>
    <%= category.depth %>
  </div>

</div>
